{
  "plugins": ["transform-decorators-legacy", "transform-regenerator", "transform-es2015-modules-commonjs", 
              ["transform-object-rest-spread", {
                "useBuiltIns": true
              }
              ]],
  "presets": ["react", "es2015", "stage-3", "es2015-node6",
              ["env", {
                "targets": {
                  "node": "current"
                }
              }
              ]]
}