@import './Partials/mixins';
@import './Partials/variables';


/******HTML ELEMENTS*****/

body {
  margin: 0;
  @include font($main-font);
}
/***********************/




/******Component Ternary Classes*********/

#nav-scroll {
  background-color: white;
  color: mediumspringgreen;
}

/****************************************/




/******HOME PAGE*****/


.home-wrapper {
  @include flex(column, center, center);
  .nav-bar {
    position: fixed;
    top: 0;
    width: 90vw;
    left: 5vw;
    height: 10vh;
    background-color: transparent;
    color: white;
    button {
      background-color: transparent;
      border-style: none;
      font-family: "Poppins", sans-serif;
      font-size: 100%;
      color: white;
    }
  }
  .home {
    @include full-bg('http://gdurl.com/t3Ah');
    color: white;
    p {
      z-index: 2;
      margin-bottom: 10%;
    }
    div {
      @include dark-overlay;
    }
    .area {
      @include button($main-font,$attentive, white, 6px, 6vh, auto);
      border-style: none;
      padding: 1.5%;
      line-height: 1.5%;
    }
    button {
      z-index: 2;
      position: relative;
    }
  }
  .how-it-works {
    background-color: #f4f8fc;
    height: 100vh;
    width: 100%;
  }

  @include breakpoint(small) {
    .nav-bar {
      @include flex(row, space-between, center);
      z-index: 2;
    }
    .home {
      @include flex(column, center, center);
      p {
        font-size: 200%;
        text-align: center;
      }
      .down {
        background-color: transparent;
        border-style: none;
        position: absolute;
        bottom: 2vh;
        z-index: 2;
        .move-downwards {
          font-size: 50px;
          color: white;
        }
      }
    }
    .how-it-works {
      @include flex(column, space-around, center);
      text-align: center;
      .gmap-container {
        border-radius:8px;
        height: 60%;
        width: 80%;
      }
    }
  }
  @include breakpoint(medium) {
    .home {
      p {
        font-size: 300%;
      }
    }
  }
}

/*************************/

/*******GOOGLE-MAPS********/

.map-marker {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

/*************************/