@import './Partials/mixins';
@import './Partials/variables';


/******HTML ELEMENTS*****/

body {
  margin: 0;
  @include font($main-font);
}

button:focus {outline:0;}
li:focus {outline:0;}
select:focus {outline:0;}
textarea:focus {outline:0;}
a {color: inherit; text-decoration: none;}
/***********************/


/******Component Ternary Classes*********/

.nav-scroll {
  @include flex(row, space-between, center);
  transition: background-color .2s ease-in;
  background-color: white;
  color: $main;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  z-index: 4;
  h2{
    margin-left: 5%;
  }
  button {
    margin-right: 5%;
    background-color: transparent;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    color: $main;
  }
}

.low-shadow {
  box-shadow: 0 2px 1px -1px lightgray;
}

  /****************************************/






  /******HOME PAGE*****/


  .home-wrapper {
    @include flex(column, center, center);
    .nav-bar {
      transition: background-color .2s ease-in;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 10vh;
      background-color: transparent;
      color: white;
      h2{
        margin-left: 5%;
      }
      button {
        margin-right: 5%;
        background-color: transparent;
        border-style: none;
        font-family: "Poppins", sans-serif;
        font-size: 100%;
        color: white;
      }
    }
    .home {
      @include full-bg('http://gdurl.com/t3Ah');
      color: white;
      p {
        z-index: 2;
        margin-bottom: 10%;
      }
      div {
        @include dark-overlay;
      }
      button {
        z-index: 2;
        position: relative;
      }
    }
    .how-it-works {
      background-color: #f4f7f9;
      height: 100vh;
      width: 100%;
    }

    @include breakpoint(small) {
      .nav-bar {
        @include flex(row, space-between, center);
        z-index: 2;
      }
      .home {
        @include flex(column, center, center);
        p {
          font-size: 200%;
          text-align: center;
        }
        .area {
          @include button($main-font, $main, white, 6px, 6vh, 60%);
          font-size: 60%;
          border-style: none;
          padding: 1.5%;
          line-height: 1.5%;
        }
        .down {
          background-color: transparent;
          border-style: none;
          position: absolute;
          bottom: 2vh;
          z-index: 2;
          .move-downwards {
            font-size: 50px;
            color: white;
          }
        }
      }
      .how-it-works {
        @include flex(column, space-around, center);
        text-align: center;
        h1{
          margin: 1%;
          font-size: 150%;
        }
        .app-usage {
          @include flex(column, center, center);
          font-weight: lighter;
          font-size: 90%;
          .city-filter {
            @include font($main-font);
            font-size: 120%;
            text-indent: 15px;
            border-style: none;
            color: $main;
          }
        }
          .map-icons {
            @include flex(row, space-between, center);
            .inspo {
              @include flex(column, space-between, center);
              color: $main;
              .circle {
                @include circle(white);
                position: relative;
                img {
                  position: absolute;
                  height: 80%;
                  width: 80%;
                  left: 10%;
                  top: 10%;
                }
              }
            }
          }
        .gmap-container {
          border-radius:8px;
          height: 50%;
          width: 80%;
          margin-bottom: .5%;
        }
      }
    }
    @include breakpoint(medium) {
      .home {
        p {
          font-size: 300%;
        }
        .area {
          @include button($main-font,$main, white, 6px, 6vh, auto);
          border-style: none;
          padding: 1.5%;
          line-height: 1.5%;
        }
      }
      .how-it-works {
        h1 {
          font-size: 250%;
        }
        .app-usage {
          @include flex(row, center, center);
          font-size: 100%;
        }
        .gmap-container {
          border-radius:8px;
          height: 55%;
          width: 75%;
          margin-bottom: 1.5%;
        }
      }
    }
  }

  /*************************/


/*******DASHBOARD********/

.dashboard {
  @include breakpoint(small) {

  }
  @include breakpoint(medium) {
    @include flex(row, center, center);
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    .side-bar {
      @include flex(column, flex-start, center);
      flex: 1;
      position: relative;
      text-align: center;
      background-color: #eaeefc;
      height: 100vh;
      box-shadow: 5px 0 16px -6px #777;
      border-right-width: 1px;
      z-index: 1;
      .side-header {
        background-color: $secondary;
        width: 100%;
        height: 15vh;
      }
      .matches {
        @include button($main-font, #5d84ef, white, 6px, 7vh, 80%);
        @include epic-shadow;
        position: absolute;
        top: 17vh;
        transition: margin 0.2s ease-in, box-shadow 0.2s ease-in;
        &:active {
          @include big-button-hover;
          background-color: white;
          color: $main;
        }
      }
      .accomplishments {
        @include flex(column, space-around, center);
        @include separators;
        margin-top: 10vh;
        height: 20vh;
        width: 100%;
        button {
          transition: width 0.3s ease-in, background-color 0.3s ease-in;
          &:hover {
            @include button-hover;
          }
          &:focus {
            @include button-hover;
          }
          i {
            margin-right: 5%;
          }
          @include side-button;
        }
      }
      .workouts {
        @include flex(column, space-around, center);
        @include separators;
        font-weight: bold;
        width: 100%;
        height: 20vh;
        button {
          transition: width 0.3s ease-in, background-color 0.3s ease-in;
          &:hover {
            @include button-hover(70%, 30%);
          }
          &:focus {
            @include button-hover(70%, 30%);
          }
          i {
            margin-right: 5%;
          }
          @include side-button;
        }
      }
      .profile {
        @include flex(column, space-around, center);
        @include separators;
        font-weight: bold;
        width: 100%;
        height: 20vh;
        button {
          transition: width 0.3s ease-in, background-color 0.3s ease-in;
          &:hover {
            @include button-hover(70%, 30%);
          }
          &:focus {
            @include button-hover(70%, 30%);
          }
          i {
            margin-right: 5%;
          }
          @include side-button
        }
      }
      .logout {
        @include button($main-font, $main, white, 6px, 7vh, 80%);
        @include epic-shadow;
        margin-top: 5%;
        transition: margin 0.2s ease-in, box-shadow 0.2s ease-in;
        &:active {
          @include big-button-hover;
          background-color: red;
          color: white;
        }
      }
    }
    .dash-content {
      @include flex(column, center, center);
      position: relative;
      flex: 4;
      text-align: center;
      background-color: #f4f7ff;
      height: 100vh;
      .content-nav {
        @include flex(row, flex-end, center);
        position: absolute;
        top: 0;
        width: 100%;
        height: 10vh;
        background-color: transparent;
        img {
          height: 50px;
          width: 50px;
          border-radius: 25px;
        }
        p {
          margin: 0 2.5%;
        }
      }
    }
  }
}

/*************************/

  /*******ANIMATIONS********/
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fade-in .4s 1;
  }

  .fade-out {
    animation: fade-out .3s 1;
  }

@keyframes fade-grow {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

  /*************************/



  /*******GOOGLE-MAPS********/

  .map-marker {
    width: 30px;
    height: 30px;
  }


/*************************/


/*******ROUTED STYLES********/

.accomplishments-holder {
  @include holder;
    .post-feed {
      @include flex(column, center, center);
      position: relative;
      animation: fade-in 0.4s ease-in;
      background-color: white;
      margin-top: 2.5%;
      width: 70%;
      margin-left: 15%;
      height: 25vh;
      border: 1px solid lightgray;
      border-radius: 4px;
      h3 {
        margin: 0;
      }
      textarea {
        @include card-shadow;
        width: 70%;
        height: 10vh;
        background-color: #f9fbfc;
        border-radius: 5px;
        border-style: none;
        color: black;
        font-size: 15px;
      }
      button {
        @include button($main-font, $main, white, 4px, 18%, 12%);
        position: absolute;
        bottom: 1%;
        right: .5%;
      }
    }
    .accomplishments-entry {
      @include flex(column, space-around, flex-start);
      @include card-shadow;
      animation: fade-in 0.4s ease-in;
      width: 70%;
      height: auto;
      margin: 1% auto;
      border-radius: 4px;
      background-color: white;
      .badge {
        @include flex(row, flex-start, center);
        width: 100%;
        img {
          height: 50px;
          width: 50px;
          margin: 1%;
          border-radius: 25px;
        }
        span {
          font-weight: 100;
          font-size: 100%;
        }
      }
      p {
        color: #777;
        margin: 1%;
        font-size: 85%;
      }
    }
}

/*************************/







