@import 'variables';


@mixin flex($direction, $justify, $align ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin dark-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
}


@mixin full-bg($url) {
  height: 100vh;
  width: 100vw;
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

@mixin font($font:$main-font, $size: 100%) {
  font-family: $font;
  font-size: $size;
}

@mixin button($font, $bc, $c, $br, $h, $w) {
  @include font($font);
  background-color: $bc;
  color: $c;
  border-radius: $br;
  height: $h;
  width: $w;
}

@mixin circle($color: white, $height: 60px, $width: 60px, $br: 30px) {
  background: $color;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 2px 2px 2px 0 lightgray;
}


@mixin breakpoint($screen) {
  @if $screen == small {
    @media #{$smallbp} {  @content  };
  }
  @if $screen == medium {
    @media #{$mediumbp} {  @content  };
  }
  @if $screen == large {
    @media #{$largebp} {  @content  };
  }
}




