/*breakpoints*/
/*FONTS*/
/*COLORS*/
/*breakpoints*/
/*FONTS*/
/*COLORS*/
/******HTML ELEMENTS*****/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 100%; }

button:focus {
  outline: 0; }

li:focus {
  outline: 0; }

select:focus {
  outline: 0; }

textarea:focus {
  outline: 0; }

a {
  color: inherit;
  text-decoration: none; }

/***********************/
/******Component Ternary Classes*********/
.nav-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  background-color: white;
  color: #5d84ef;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  z-index: 4; }
  .nav-scroll h2 {
    margin-left: 5%; }
  .nav-scroll button {
    margin-right: 5%;
    background-color: transparent;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    color: #5d84ef; }

.low-shadow {
  -webkit-box-shadow: 0 2px 1px -1px lightgray;
          box-shadow: 0 2px 1px -1px lightgray; }

/****************************************/
/******HOME PAGE*****/
.home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .home-wrapper .nav-bar {
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    color: white; }
    .home-wrapper .nav-bar h2 {
      margin-left: 5%; }
    .home-wrapper .nav-bar button {
      margin-right: 5%;
      background-color: transparent;
      border-style: none;
      font-family: "Poppins", sans-serif;
      font-size: 100%;
      color: white; }
  .home-wrapper .home {
    height: 100vh;
    width: 100vw;
    background-image: url("http://gdurl.com/t3Ah");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: white; }
    .home-wrapper .home p {
      z-index: 2;
      margin-bottom: 10%; }
    .home-wrapper .home div {
      height: 100vh;
      width: 100vw;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1; }
    .home-wrapper .home button {
      z-index: 2;
      position: relative; }
  .home-wrapper .how-it-works {
    background-color: #f4f7f9;
    height: 100vh;
    width: 100%; }
  @media (min-width: 300px) {
    .home-wrapper .nav-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 2; }
    .home-wrapper .home {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .home-wrapper .home p {
        font-size: 200%;
        text-align: center; }
      .home-wrapper .home .area {
        font-family: "Poppins", sans-serif;
        font-size: 100%;
        background-color: #5d84ef;
        color: white;
        border-radius: 6px;
        height: 6vh;
        width: 60%;
        border-style: none;
        font-size: 60%;
        border-style: none;
        padding: 1.5%;
        line-height: 1.5%; }
      .home-wrapper .home .down {
        background-color: transparent;
        border-style: none;
        position: absolute;
        bottom: 2vh;
        z-index: 2; }
        .home-wrapper .home .down .move-downwards {
          font-size: 50px;
          color: white; }
    .home-wrapper .how-it-works {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .home-wrapper .how-it-works h1 {
        margin: 1%;
        font-size: 150%; }
      .home-wrapper .how-it-works .app-usage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-weight: lighter;
        font-size: 90%; }
        .home-wrapper .how-it-works .app-usage .city-filter {
          font-family: "Poppins", sans-serif;
          font-size: 100%;
          font-size: 120%;
          text-indent: 15px;
          border-style: none;
          color: #5d84ef; }
      .home-wrapper .how-it-works .map-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .home-wrapper .how-it-works .map-icons .inspo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          color: #5d84ef; }
          .home-wrapper .how-it-works .map-icons .inspo .circle {
            background: white;
            height: 60px;
            width: 60px;
            border-radius: 30px;
            margin: 20px;
            -webkit-box-shadow: 2px 2px 2px 0 lightgray;
                    box-shadow: 2px 2px 2px 0 lightgray;
            position: relative; }
            .home-wrapper .how-it-works .map-icons .inspo .circle img {
              position: absolute;
              height: 80%;
              width: 80%;
              left: 10%;
              top: 10%; }
      .home-wrapper .how-it-works .gmap-container {
        border-radius: 8px;
        height: 50%;
        width: 80%;
        margin-bottom: .5%; } }
  @media (min-width: 768px) {
    .home-wrapper .home p {
      font-size: 300%; }
    .home-wrapper .home .area {
      font-family: "Poppins", sans-serif;
      font-size: 100%;
      background-color: #5d84ef;
      color: white;
      border-radius: 6px;
      height: 6vh;
      width: auto;
      border-style: none;
      border-style: none;
      padding: 1.5%;
      line-height: 1.5%; }
    .home-wrapper .how-it-works h1 {
      font-size: 250%; }
    .home-wrapper .how-it-works .app-usage {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 100%; }
    .home-wrapper .how-it-works .gmap-container {
      border-radius: 8px;
      height: 55%;
      width: 75%;
      margin-bottom: 1.5%; } }

/*************************/
/*******DASHBOARD********/
@media (min-width: 768px) {
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: lightgray;
    height: 100vh;
    width: 100vw; }
    .dashboard .side-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      position: relative;
      text-align: center;
      background-color: #eaeefc;
      height: 100vh;
      -webkit-box-shadow: 5px 0 16px -6px #777;
              box-shadow: 5px 0 16px -6px #777;
      border-right-width: 1px;
      z-index: 1; }
      .dashboard .side-bar .side-header {
        background-color: #cfdbf9;
        width: 100%;
        height: 15vh; }
      .dashboard .side-bar .matches {
        font-family: "Poppins", sans-serif;
        font-size: 100%;
        background-color: #5d84ef;
        color: white;
        border-radius: 6px;
        height: 7vh;
        width: 80%;
        border-style: none;
        -webkit-box-shadow: 0 17px 35px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 17px 35px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 17vh;
        -webkit-transition: margin 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
        transition: margin 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
        transition: margin 0.2s ease-in, box-shadow 0.2s ease-in;
        transition: margin 0.2s ease-in, box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in; }
        .dashboard .side-bar .matches:active {
          -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
                  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
          margin-left: 5%;
          background-color: white;
          color: #5d84ef; }
      .dashboard .side-bar .accomplishments {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 3px solid #cfdbf9;
        margin-top: 10vh;
        height: 20vh;
        width: 100%; }
        .dashboard .side-bar .accomplishments button {
          -webkit-transition: width 0.3s ease-in, background-color 0.3s ease-in;
          transition: width 0.3s ease-in, background-color 0.3s ease-in;
          width: 100%;
          font-family: "Poppins", sans-serif;
          font-size: 100%;
          font-weight: bold;
          font-size: 90%;
          background-color: transparent;
          border-style: none; }
          .dashboard .side-bar .accomplishments button:hover {
            background-color: #5d84ef;
            width: 90%;
            margin-right: 10%;
            text-align: right;
            color: white; }
          .dashboard .side-bar .accomplishments button:focus {
            background-color: #5d84ef;
            width: 90%;
            margin-right: 10%;
            text-align: right;
            color: white; }
          .dashboard .side-bar .accomplishments button i {
            margin-right: 5%; }
      .dashboard .side-bar .workouts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 3px solid #cfdbf9;
        font-weight: bold;
        width: 100%;
        height: 20vh; }
        .dashboard .side-bar .workouts button {
          -webkit-transition: width 0.3s ease-in, background-color 0.3s ease-in;
          transition: width 0.3s ease-in, background-color 0.3s ease-in;
          width: 100%;
          font-family: "Poppins", sans-serif;
          font-size: 100%;
          font-weight: bold;
          font-size: 90%;
          background-color: transparent;
          border-style: none; }
          .dashboard .side-bar .workouts button:hover {
            background-color: #5d84ef;
            width: 70%;
            margin-right: 30%;
            text-align: right;
            color: white; }
          .dashboard .side-bar .workouts button:focus {
            background-color: #5d84ef;
            width: 70%;
            margin-right: 30%;
            text-align: right;
            color: white; }
          .dashboard .side-bar .workouts button i {
            margin-right: 5%; }
      .dashboard .side-bar .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 3px solid #cfdbf9;
        font-weight: bold;
        width: 100%;
        height: 20vh; }
        .dashboard .side-bar .profile button {
          -webkit-transition: width 0.3s ease-in, background-color 0.3s ease-in;
          transition: width 0.3s ease-in, background-color 0.3s ease-in;
          width: 100%;
          font-family: "Poppins", sans-serif;
          font-size: 100%;
          font-weight: bold;
          font-size: 90%;
          background-color: transparent;
          border-style: none; }
          .dashboard .side-bar .profile button:hover {
            background-color: #5d84ef;
            width: 70%;
            margin-right: 30%;
            text-align: right;
            color: white; }
          .dashboard .side-bar .profile button:focus {
            background-color: #5d84ef;
            width: 70%;
            margin-right: 30%;
            text-align: right;
            color: white; }
          .dashboard .side-bar .profile button i {
            margin-right: 5%; }
      .dashboard .side-bar .logout {
        font-family: "Poppins", sans-serif;
        font-size: 100%;
        background-color: #5d84ef;
        color: white;
        border-radius: 6px;
        height: 7vh;
        width: 80%;
        border-style: none;
        -webkit-box-shadow: 0 17px 35px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 17px 35px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
        margin-top: 5%;
        -webkit-transition: margin 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
        transition: margin 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
        transition: margin 0.2s ease-in, box-shadow 0.2s ease-in;
        transition: margin 0.2s ease-in, box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in; }
        .dashboard .side-bar .logout:active {
          -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
                  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
          margin-left: 5%;
          background-color: red;
          color: white; }
    .dashboard .dash-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      -webkit-box-flex: 4;
          -ms-flex: 4;
              flex: 4;
      text-align: center;
      background-color: #f4f7ff;
      height: 100vh; }
      .dashboard .dash-content .content-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 10vh;
        background-color: transparent; }
        .dashboard .dash-content .content-nav img {
          height: 50px;
          width: 50px;
          border-radius: 25px; }
        .dashboard .dash-content .content-nav p {
          margin: 0 2.5%; } }

/*************************/
/*******ANIMATIONS********/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fade-in {
  -webkit-animation: fade-in .4s 1;
          animation: fade-in .4s 1; }

.fade-out {
  -webkit-animation: fade-out .3s 1;
          animation: fade-out .3s 1; }

@-webkit-keyframes fade-grow {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1); }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes fade-grow {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1); }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*************************/
/*******GOOGLE-MAPS********/
.map-marker {
  width: 30px;
  height: 30px; }

/*************************/
/*******ROUTED STYLES********/
.accomplishments-holder {
  width: 100%;
  height: 100vh;
  overflow: auto; }
  .accomplishments-holder .post-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-animation: fade-in 0.4s ease-in;
            animation: fade-in 0.4s ease-in;
    background-color: white;
    margin-top: 2.5%;
    width: 70%;
    margin-left: 15%;
    height: 25vh;
    border: 1px solid lightgray;
    border-radius: 4px; }
    .accomplishments-holder .post-feed h3 {
      margin: 0; }
    .accomplishments-holder .post-feed textarea {
      -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
      width: 70%;
      height: 10vh;
      background-color: #f9fbfc;
      border-radius: 5px;
      border-style: none;
      color: black;
      font-size: 15px; }
    .accomplishments-holder .post-feed button {
      font-family: "Poppins", sans-serif;
      font-size: 100%;
      background-color: #5d84ef;
      color: white;
      border-radius: 4px;
      height: 18%;
      width: 12%;
      border-style: none;
      position: absolute;
      bottom: 1%;
      right: .5%; }
  .accomplishments-holder .accomplishments-entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-animation: fade-in 0.4s ease-in;
            animation: fade-in 0.4s ease-in;
    width: 70%;
    height: auto;
    margin: 1% auto;
    border-radius: 4px;
    background-color: white; }
    .accomplishments-holder .accomplishments-entry .badge {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
      .accomplishments-holder .accomplishments-entry .badge img {
        height: 50px;
        width: 50px;
        margin: 1%;
        border-radius: 25px; }
      .accomplishments-holder .accomplishments-entry .badge span {
        font-weight: 100;
        font-size: 100%; }
    .accomplishments-holder .accomplishments-entry p {
      color: #777;
      margin: 1%;
      font-size: 85%; }

/*************************/
